.search-form {
    margin: 20px auto;
    width: 80%;
    height: 60px;
    max-width: 900px;
}

.search-label {
    position: relative;
}

.search-form input {
    width: 40%;
    padding: 5px;
    font-size: 24px;
    font-style: italic;
    color: #444;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    outline: 0;
}

.button {
    text-align: center;
    width: 10%;
    padding: 8px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    outline: 0;
    transition-duration: 0.3s;
}

.button:hover {
  background-color: #66b3ff;
  color: white;
}

.search-loading {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}
