body {
  font-family: 'Open Sans', sans-serif;
}

.outer-container {
    width: 100%;
}

.table-container {
    overflow-x: scroll;
}

.season {
    position: relative;
    white-space: nowrap;
    height: auto;
    color: #ffffff;
    font-size: 1.5vw;
    border: 4px solid #282c34;
    padding: 10px;
    z-index: 100; 
}

tbody {
    color: #282c34;
    font-family: 'Open Sans', sans-serif;
}

table {
    background-color: #282c34;
    max-width: 90%;
    align-items: center;
    margin: 0 auto 1em;
    border-collapse: collapse;
}

td {
    position: relative;
    white-space: nowrap;
    height: auto;
    font-size: 1vw;
    border: 4px solid #282c34;
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    z-index: 100;
    
}

td::before {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 4px solid #eeeeee;
    content: '';
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -1;
}

td:hover {
    color: darken(#232C88, 5%);
}

td:hover::before {
    opacity: 1;
}

a:hover {
    color: red;
}

/*.ratings-table {
    background-color: #282c34;
    max-width: 90%;
    align-items: center;
}*/

