<html>
    <head>
        {% if title %}
        <title>{{ title }} - IMDB TV ratings</title>
        {% else %}
        <title>Welcome to IMDB TV ratings</title>
        {% endif %}
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
           th, td {
                padding: 10px;
            } 
        </style>
    </head>
    <body>
        <div>
            IMDB TV ratings: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search') }}">Search</a>
        </div>
        <hr>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <body>
</html>
